{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home:index' %}"><span class="glyphicon glyphicon-home" ></span> WTF</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home:about' %}">About</a></li>
        <li><a href="http://princetonusg.com/">USG</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{% url 'home:my_petitions' netid %}">
            <span class="glyphicon glyphicon-th-list"></span>&nbsp; My Petitions
          </a>
        </li>
        <li>
          <a href="{% url 'home:logout' %}">
            <span class="glyphicon glyphicon-off"></span>&nbsp; Logout
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


<div class="jumbotron text-center">
  <h2>What To Fix: Princeton is here to help change what you care about</h2>
</div>

<!-- Our mission -->
<div class="container text-center">
  <h1>Our mission</h1>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <p>
        WTF:Princeton aims to serve as a platform through which Princeton students
        can suggest ideas for change to USG and support others' ideas. 
        By connecting the students amongst themselves and with USG,
        WTF:Princeton hopes to begin a conversation for change with the whole
        student body which will hopefully lead to a better campus life for all.
      </p>
    </div>
  </div>
</div>

<!-- Meet the team -->
<div class="container text-center">
  <h1>Meet the team</h1>
  <div class="row">
    <!--Ji Won -->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <img src="{% static "images/Jiwon.jpg" %}" class="img-circle img-responsive center-block" alt="Jiwon" style="height:300px"/>
      <h3>Ji Won Shin</h3>
      <p>
        Ji Won is a sophomore in the Computer Science department. She can be contacted
        at <a href="mailto:jwshin@princeton.edu">jwshin@princeton.edu</a>.
      </p>
    </div>

    <!--Daniel -->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <img src="{% static "images/Daniel.jpg" %}" class="img-circle img-responsive center-block" alt="Daniel" style="height:300px"/>
      <h3>Daniel Dong Wook Chung</h3> 
      <p>
        Daniel is a junior in the Computer Science department and is also the project leader for
        WTF:Princeton. He can be contacted at <a href="mailto:dcfive@princeton.edu">dcfive@princeton.edu</a>. 
      </p>
    </div>

    <!--Hun -->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <img src="{% static "images/Hun.jpg" %}" class="img-circle img-responsive center-block" alt="Hun" style="height:300px"/>
      <h3>Hun Choi</h3>
      <p>
        Hun is also a junior in the Computer Science department and is in charge of 
        what you see on WTF:Princeton! If anything looks ugly, email him at 
        <a href="hunc@princeton.edu">hunc@princeton.edu</a>.
      </p>
    </div>
  </div>
</div>

<!-- Contact USG -->
<div class="container text-center">
  <h1>Contact USG</h1>
  <a href="http://princetonusg.com/">USG website</a>
  <a href="https://twitter.com/princetonusg">USG Twitter</a>
  <a href="https://www.facebook.com/princetonusg/?fref=ts">USG Facebook</a>
</div>

</br>
</br>

</body>
</html>

{% endblock %}