{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home:index' %}"><span class="glyphicon glyphicon-home" ></span> WTF</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home:about' %}">About</a></li>
        <li><a href="{% url 'home:howtouse' %}">How To Use</a></li>
        <li><a href="http://princetonusg.com/">USG</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{% url 'home:my_petitions' netid %}">
            <span class="glyphicon glyphicon-th-list"></span>&nbsp; My Petitions
          </a>
        </li>
        <li>
          <a href="{% url 'home:logout' %}">
            <span class="glyphicon glyphicon-off"></span>&nbsp; Logout
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="jumbotron text-center">
  <div class='container' id='box'>
  <h1 style='color:white'>How to use WTF: Princeton</h1>
  </div>
</div>

<!-- Create a new petition -->
<div class='container text-center'>
  <h1>How to create a new petition</h1>
  <h3> Step 1 </h3>
  Sign in using CAS!

<!-- step 2 -->
  <h3> Step 2 </h3>
  Click the 'Create new petition' button!

<!-- step 3 -->
  <h3> Step 3 </h3>
  Fill out the entries as you wish and click submit!
</div>

<!-- Vote and comment on others' petitions -->
<!-- step 1 -->
<div class='container text-center'>
  <h1> How to vote and comment on others' petitions </h1>
  <h3>Step 1</h3>
  Sign in using CAS!
  <h3>Step 2</h3>
  Click the big blue thumb to vote on petitions you support!
  <h3>Step 3</h3>
  From the homepage, write your comments and click 'Comment'
</div>

</body>
</html>

{% endblock %}