{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home:index' "" %}"><span class="glyphicon glyphicon-home" ></span> WTF</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home:about' %}">About</a></li>
        <li><a href="http://princetonusg.com/">USG</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{% url 'home:login' "" %}">
            <span class="glyphicon glyphicon-off"></span>&nbsp; Login
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="jumbotron text-center">
  <div class='cover panel center-block ' id='box'>
  <div class="page-header">
    <h1><span class="text-black"><a href="{% url 'home:index' "" %}" style='color:white; text-decoration: inherit;'>What To Fix: Princeton</a></span></h1>
  </div>

  <div class="container">
    <a href="{% url 'home:login' "create_petition" %}" class="btn btn-lg btn-default" role="button">
      <span class="glyphicon glyphicon-plus">
      </span>
      Create new petition
    </a>
  </div>
  <div class='spacer'></div>
  </div>
</div>

<div class="container">
  <h1>Petitions</h1>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="input-group">
        <form class = "form-inline" role="search" method="get" action="{% url 'home:index' "search" %}">
          <div class="form-group">
              <input type="text" class="form-control" name="q" value="{{ request.GET.q }}" placeholder="Search for..." size="50" autofocus>
          </div>
          <button type="submit" class="btn btn-default pull-right">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>

</br>

<!-- sort -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p>Currently active petitions:</p>
      <p>
        <a href='{% url 'home:index' "" %}' class='btn btn-xs btn-primary' role='button'>
          Recent
        </a>
        <a href='{% url 'home:index' "top" %}' class='btn btn-xs btn-primary' role='button'>
          Top
        </a>
      </p>
    </div>
  </div>
</div>

</br>

<!-- display petitions -->
{% for petition in petitions %}

<div class="container">
  <div class='row'>
    <!-- votes and expiration-->
    <div class='col-lg-1 col-md-1 col-sm-1 col-xs-2'>
      <a href='{% url 'home:login' "" %}'><span class='glyphicon glyphicon-thumbs-up' style='font-size:300%;font-size: 5vw' aria-hidden='true'></span></a>
      <h5>{{ petition.6 }}/100</h5>

      <h6>Expires in:</h6>
      {% if petition.9 == 'days' %}
        <p>{{ petition.8 }} days</p>
      {% elif petition.9 == 'hours' %}
        <p> {{ petition.8 }} hours</p>
      {% else %}
        <p> {{ petition.8 }} mins</p>
      {% endif %}
    </div>

    <!-- petition info -->
    <div class='col-lg-11 col-md-11 col-sm-11 col-xs-10'>
      <div class="panel panel-default
      ">
        <div class="panel-heading panel-heading-custom">
          <h1 class="panel-title">{{ petition.2 }}</h1>
          <p>
            By <a href='{% url 'home:login' petition.1 %}' style='color:inherit;'>{{ petition.1 }}</a>
          </p>
        </div>
        <div class="panel-body">
            {{ petition.3 }}
        </div>
      </div>
    </div>
  </div>

  <!-- comments -->
  <div class='row'>
    <div class='col-lg-offset-1 col-lg-11 col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-2 col-xs-10'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Write a comment!">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">Comment</button>
      </span>
     </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-offset-2 col-xs-1'>
    <button href='#comments' type="button" class="btn btn-default" data-toggle='collapse'>View other comments <span class='caret'></span></button>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-offset-1 col-lg-11 col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-2 col-xs-10 collapse' id='comments'>
    <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    </ul>
    </div>
  </div>
</div>

</br>

{% endfor %}

</body>
</html>

{% endblock %}