{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home:index' %}"><span class="glyphicon glyphicon-home" ></span> WTF</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home:about' %}">About</a></li>
        <li><a href="http://princetonusg.com/">USG</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{% url 'home:my_petitions' netid %}">
            <span class="glyphicon glyphicon-th-list"></span>&nbsp; My Petitions
          </a>
        </li>
        <li>
          <a href="{% url 'home:logout' %}">
            <span class="glyphicon glyphicon-off"></span>&nbsp; Logout
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="jumbotron text-center">
	<div class="page-header">
    <h1>
      <span class="text-black">
        What To Fix: Princeton
      </span>
    </h1>
	</div>

  <div class="container">
  	<a href="{% url 'home:create_petition' %}" class="btn btn-lg btn-default" role="button">
  		<span class="glyphicon glyphicon-plus">
  		</span>
  		Create new petition
  	</a>
  </div>
</div>

<div class="container">
	<h1>Petitions</h1>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
			<div class="input-group">
        <form class = "form-inline" role="search" method="get" action="{% url 'home:index' %}">
          <div class="form-group">
              <input type="text" class="form-control" name="q" value="{{ request.GET.q }}" placeholder="Search for..." size="50">
          </div>
          <button type="submit" class="btn btn-default">Go!</button>
        </form>
      </div>
		</div>
	</div>
</div>

</br>

{% if petitions %}
  {% for petition in petitions %}
    <h3>Netid: {{ petition.1 }}</h3>
    <h3>Title: {{ petition.2 }}</h3>
    <h3>Content: {{ petition.3 }}</h3>
    <h3>Category: {{ petition.4 }}</h3>
    <h3>Expiration: {{ petition.6 }}</h3>
  {% endfor %}

{% else %}

<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h1 class="panel-title">Open a library for 24 hours please!</h1>
    </div>
    <div class="panel-body">
      There's nowhere I can stay all night to study and my room is my least favorite place to study.. Why is there no 24 hour space?
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-warning">
   <div class="panel-heading">
    <h1 class="panel-title">Better toilet paper..?</h1>
   </div>
   <div class="panel-body">
    I mean we pay 50k for tuition and we have to use this crap?
   </div>
  </div>
</div>

{% endif %}

</body>
</html>

{% endblock %}