{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home:index' %}"><span class="glyphicon glyphicon-home" ></span> WTF</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home:about' %}">About</a></li>
        <li><a href="{% url 'home:howtouse' %}">Instructions</a></li>
        <li><a href="http://princetonusg.com/">USG</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{% url 'home:my_petitions' netid %}">
            <span class="glyphicon glyphicon-th-list"></span>&nbsp; My Petitions
          </a>
        </li>
        <li>
          <a href="{% url 'home:logout' %}">
            <span class="glyphicon glyphicon-off"></span>&nbsp; Logout
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="jumbotron text-center">
  <div class='cover panel center-block ' id='box'>
  	<div class="page-header">
      <h1><span class="text-black"><a href="{% url 'home:index' %}" style='color:white; text-decoration: inherit;'>What To Fix: Princeton</a></span></h1>
  	</div>

    <div class="container">
  	 <a href="{% url 'home:create_petition' %}" class="btn btn-lg btn-default" role="button">
  		<span class="glyphicon glyphicon-plus">
  		</span>
  		Create new petition
  	 </a>
    </div>
    <div class='spacer'></div>
  </div>
</div>


<!-- notifications -->
<div class='row'>
<div class='col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1'>
{% if successful %}
<div class="alert alert-success" role="alert">Success! Your petition has been added!</div>
{%endif%}
{% if voteOwn %}
<div class="alert alert-warning" role="alert">You can't vote for your own!!</div>
{%endif %}
{% if doubleVote %}
<div class="alert alert-warning" role="alert">You can't double vote!!</div>
{%endif %}
</div>
</div>

<div class="container">
	<h1>Petitions</h1>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="input-group" style='max-height: 50px'>
        <form class = "form-inline" role="search" method="get" action="{% url 'home:index' %}">
          <div class="form-group" style='display:inline-block'>
              <input type="text" class="form-control" name="q" value="{{ request.GET.q }}" placeholder="Search by title, content, and NetID" size="35" autofocus>
          </div>
          <button type="submit" class="btn btn-primary pull-right" style='display:inline-block'>Search</button>
        </form>
      </div>
		</div>
	</div>
</div>

</br>

<!-- sort thru petitions -->
<div class="container">
  <h5>Filters</h5>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <form class = "form-inline" role="search" method="get" action="{% url 'home:index' %}">
        <div class="form-group">
          <select class="form-control input-sm" name="order" value="{{ request.GET.order }}" style='width:auto; display:inline-block;'>
            {% if orderList %}
              <option value="{{ orderList.0 }}">{{ orderList.0 }}</option>
              <option value="{{ orderList.1 }}">{{ orderList.1 }}</option>
            {% else %}
              <option value="Recent">Recent</option>
              <option value="Top">Top</option>
            {% endif %}
          </select>

          <select class="form-control input-sm" name="status" value="{{ request.GET.status }}" style='margin-left: 5px; width:auto; display:inline-block;'>
            {% if statusList %}
              <option value="{{ statusList.0 }}">{{ statusList.0 }}</option>
              <option value="{{ statusList.1 }}">{{ statusList.1 }}</option>
              <option value="{{ statusList.2 }}">{{ statusList.2 }}</option>
              <option value="{{ statusList.3 }}">{{ statusList.3 }}</option>
            {% else %}
              <option value="Active">Active</option>
              <option value="Expired">Expired</option>
              <option value="Pending">Pending</option>
              <option value="Completed">Completed</option>
            {% endif %}
          </select>

          <select class="form-control input-sm" name="category" value="{{ request.GET.category }}" style='margin-left: 5px; width:auto; display:inline-block;'>
          {% if categoryList %}
            <option value="{{ categoryList.0 }}">{{ categoryList.0 }}</option>
            <option value="{{ categoryList.1 }}">{{ categoryList.1 }}</option>
            <option value="{{ categoryList.2 }}">{{ categoryList.2 }}</option>
            <option value="{{ categoryList.3 }}">{{ categoryList.3 }}</option>
            <option value="{{ categoryList.4 }}">{{ categoryList.4 }}</option>
            <option value="{{ categoryList.5 }}">{{ categoryList.5 }}</option>
            <option value="{{ categoryList.6 }}">{{ categoryList.6 }}</option>
            <option value="{{ categoryList.7 }}">{{ categoryList.7 }}</option>
            <option value="{{ categoryList.8 }}">{{ categoryList.8 }}</option>
          {% else %}
            <option value="All">All</option>
            <option value="Academics">Academics</option>
            <option value="Athletics">Athletics &amp; Recreation</option>
            <option value="Community Issues">Community Issues</option>
            <option value="Dining">Dining</option>
            <option value="Housing &amp; Facilities">Housing &amp; Facilities</option>
            <option value="Student Activities">Student Activities</option>
            <option value="Student Services">Student Services</option>
            <option value="Other">Other</option>
          {% endif %}
          </select>
        </div>
        <button type="submit" class="btn btn=sm btn-primary" role="button" style='margin-left: 5px; width:auto; display:inline-block;'>
          Filter
        </button>
      </form>

    </div>
  </div>
</div>
</br>

<!-- display petitions -->
{% for petition in petitions %}

<p>{{ petition.10 }}</p>

<div class="container" style=''>
  <div class='row'>
    <!-- votes and expiration-->
    <div class='col-lg-1 col-md-1 col-sm-1 col-xs-2'>
      <a href='{% url 'home:vote' petition.0 "" %}'><span class='glyphicon glyphicon-thumbs-up' style='font-size:300%;font-size: 4vw' aria-hidden='true'></span></a>
      <h5>{{ petition.6 }}/10</h5>

      {% if petition.7 == "Pending" %}

        <h5>Pending</h5>

      {% elif petition.7 == "Active" %}

        <h6>Expires in:</h6>
        {% if petition.12 == 'days' %}
          <p>{{ petition.11 }} days</p>
        {% elif petition.12 == 'hours' %}
          <p> {{ petition.11 }} hours</p>
        {% else %}
          <p> {{ petition.11 }} min</p>
        {% endif %}

      {% elif petition.7 == "Expired" %}

        <h5>Expired</h5>

      {% else %}

        <h6>Completed</h6>

      {% endif %}

    </div>

    <!-- petition info -->
    <div class='col-lg-11 col-md-11 col-sm-11 col-xs-10'>
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">

          <!-- delete button -->
          {% if netid == petition.1 %}
            <button href=#{{ petition.0 }} type='button' class='btn btn-default pull-right' data-toggle='collapse'>
              <span class="glyphicon glyphicon-remove">
              </span>
            </button>
          {% endif %}

          <h1 class="panel-title" style='word-wrap: break-word;'>{{ petition.2 }}</h1>
          By <a href='{% url 'home:my_petitions' petition.1 %}' style='color:inherit;'>{{ petition.1 }}</a> </br>
          <i>{{petition.4}}</i>
        </div>
        <div class="panel-body" style='word-wrap: break-word;'>
            {{ petition.3 }}
        </div>
      </div>

      <!-- delete_petition confirmation -->
      <div class='collapse' id={{ petition.0 }}>
        <p>Please confirm that you want to delete this petition</p>
        <a href='{% url 'home:delete_petition' petition.0 %}' class='btn btn-success' role='button'>
          <span class='glyphicon glyphicon-ok-circle' style='font-size: 1.5vw'>
          </span> Yes, delete this petition
        </a>
        <button href=#{{ petition.0 }} type='button' class='btn btn-danger' data-toggle='collapse'>
          <span class='glyphicon glyphicon-remove-circle' style='font-size: 1.5vw'>
          </span> No, don't delete this petition
        </button>
        </br>
        </br>
      </div>
    </div>
  </div>

  <!-- write comments -->
  <div class='row'>
    <div class='col-lg-offset-1 col-lg-11 col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-2 col-xs-10'>
      <div class="input-group">
        <form class="form-inline" method="get" action="{% url 'home:add_comment' petition.0 %}">
          {% csrf_token %}
          <div class ="form-group">
              <input type="text" class="form-control" name="r" value="{{ request.GET.r }}" placeholder="Write a comment!" size="100">
          </div>
          <button type="submit" class="btn btn-success">Comment</button>
        </form>
      </span>
     </div>
    </div>
  </div>

  <!-- show comments -->
  <div class='row'>
    <div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-offset-2 col-xs-1'>
      <!-- no comments to show-->
      {% if petition.8|length == 0 %}
      <button href='#com{{petition.0}}' type="button" class="btn btn-default disabled" data-toggle='collapse'>View other comments
        </span><span class="badge">{{petition.8|length}}</span>
      </button>

      <!-- otherwise-->
      {% else %}
      <button href='#com{{petition.0}}' type="button" class="btn btn-default" data-toggle='collapse'>View other comments
        </span><span class="badge">{{petition.8|length}}</span>
      </button>
      {%endif%}
    </div>
  </div>
  <!-- list of comments-->
  <ul class="list-group col-lg-offset-1 col-lg-11 col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-2 col-xs-10 collapse" id=com{{petition.0}}>
  {% for comment in petition.8  %}
      <li class="list-group-item" style='word-wrap: break-word; max-height:100px; overflow:auto'>
          {{comment}}
      </li>
  {% endfor %}
  </ul>
  </br>
  </div>
{% endfor %}

</body>
</html>

{% endblock %}