{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home:index' %}"><span class="glyphicon glyphicon-home" ></span> WTF</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home:about' %}">About</a></li>
        <li><a href="{% url 'home:howtouse' %}">Instructions</a></li>
        <li><a href="http://princetonusg.com/">USG</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{% url 'home:login' "" %}">
            <span class="glyphicon glyphicon-off"></span>&nbsp; Login
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="jumbotron text-center">
  <div class='cover panel center-block ' id='box'>
  <div class="page-header">
    <h1><span class="text-black"><a href="{% url 'home:index' %}" style='color:white; text-decoration: inherit;'>What To Fix: Princeton</a></span></h1>
  </div>

  <div class="container">
    <a href="{% url 'home:login' "create_petition" %}" class="btn btn-lg btn-default" role="button">
      <span class="glyphicon glyphicon-plus">
      </span>
      Create new petition
    </a>
  </div>
  <div class='spacer'></div>
  </div>
</div>

<div class="container">
  <h1>Petitions</h1>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="input-group">
        <form class = "form-inline" role="search" method="get" action="{% url 'home:index' %}">
          <div class="form-group">
              <input type="text" class="form-control" name="q" value="{{ request.GET.q }}" placeholder="Search by title, content, and NetID" size="50" autofocus>
          </div>
          <button type="submit" class="btn btn-primary pull-right">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>

</br>

<!-- sort thru petitions -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h5>Filters</h5>

      <form class = "form-inline" role="search" method="get" action="{% url 'home:index' %}">
        <div class="form-group">
          <select class="form-control input-sm" name="order" value="{{ request.GET.order }}" style='margin-left: 5px; width:auto; display:inline-block;'>
            {% if orderList %}
              <option value="{{ orderList.0 }}">{{ orderList.0 }}</option>
              <option value="{{ orderList.1 }}">{{ orderList.1 }}</option>
            {% else %}
              <option value="Recent">Recent</option>
              <option value="Top">Top</option>
            {% endif %}
          </select>

          <select class="form-control input-sm" name="status" value="{{ request.GET.status }}" style='margin-left: 5px; width:auto; display:inline-block;'>
            {% if statusList %}
              <option value="{{ statusList.0 }}">{{ statusList.0 }}</option>
              <option value="{{ statusList.1 }}">{{ statusList.1 }}</option>
              <option value="{{ statusList.2 }}">{{ statusList.2 }}</option>
              <option value="{{ statusList.3 }}">{{ statusList.3 }}</option>
            {% else %}
              <option value="Active">Active</option>
              <option value="Expired">Expired</option>
              <option value="Pending">Pending</option>
              <option value="Completed">Completed</option>
            {% endif %}
          </select>

          <select class="form-control input-sm" name="category" value="{{ request.GET.category }}" style='margin-left: 5px; width:auto; display:inline-block;'>
          {% if categoryList %}
            <option value="{{ categoryList.0 }}">{{ categoryList.0 }}</option>
            <option value="{{ categoryList.1 }}">{{ categoryList.1 }}</option>
            <option value="{{ categoryList.2 }}">{{ categoryList.2 }}</option>
            <option value="{{ categoryList.3 }}">{{ categoryList.3 }}</option>
            <option value="{{ categoryList.4 }}">{{ categoryList.4 }}</option>
            <option value="{{ categoryList.5 }}">{{ categoryList.5 }}</option>
            <option value="{{ categoryList.6 }}">{{ categoryList.6 }}</option>
            <option value="{{ categoryList.7 }}">{{ categoryList.7 }}</option>
            <option value="{{ categoryList.8 }}">{{ categoryList.8 }}</option>
          {% else %}
            <option value="All">All</option>
            <option value="Academics">Academics</option>
            <option value="Athletics">Athletics &amp; Recreation</option>
            <option value="Community Issues">Community Issues</option>
            <option value="Dining">Dining</option>
            <option value="Housing &amp; Facilities">Housing &amp; Facilities</option>
            <option value="Student Activities">Student Activities</option>
            <option value="Student Services">Student Services</option>
            <option value="Other">Other</option>
          {% endif %}
          </select>
        </div>
        <button type="submit" class="btn btn=sm btn-primary" role="button" style='margin-left: 5px; width:auto; display:inline;'>
          Filter
        </button>
      </form>

    </div>
  </div>
</div>
</br>

<!-- display petitions -->
{% for petition in petitions %}

<div class="container">
  <div class='row'>
    <!-- votes and expiration-->
    <div class='col-lg-1 col-md-1 col-sm-1 col-xs-2'>
      <a href='{% url 'home:login' "" %}'><span class='glyphicon glyphicon-thumbs-up' style='font-size:300%;font-size: 4vw' aria-hidden='true'></span></a>
      <h5>{{ petition.6 }}/10</h5>

      {% if petition.7 == "Pending" %}

        <h5>Pending</h5>

      {% elif petition.7 == "Active" %}

        <h6>Expires in:</h6>
        {% if petition.13 == 'days' %}
          <p>{{ petition.12 }} days</p>
        {% elif petition.13 == 'hours' %}
          <p> {{ petition.12 }} hours</p>
        {% else %}
          <p> {{ petition.12 }} min</p>
        {% endif %}

      {% elif petition.7 == "Expired" %}

        <h5>Expired</h5>

      {% else %}

        <h6>Completed</h6>

      {% endif %}
      
    </div>

    <!-- petition info -->
    <div class='col-lg-11 col-md-11 col-sm-11 col-xs-10'>
      <div class="panel panel-default
      ">
        <div class="panel-heading panel-heading-custom">
          <h1 class="panel-title" style='word-wrap: break-word;'>{{ petition.2 }}</h1>
          By <a href='{% url 'home:my_petitions' petition.1 %}' style='color:inherit;'>{{ petition.1 }}</a> </br>
          <i>{{petition.4}} ({{petition.10}})</i>
          </div>
        <div class="panel-body" style='word-wrap: break-word;'>
            {{ petition.3 }}
        </div>
      </div>
    </div>
  </div>

  <!-- write comments -->
  <div class='row'>
    <div class='col-lg-offset-1 col-lg-11 col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-2 col-xs-10'>
      <div class="input-group">
        <form class="form-inline" method="get" action="{% url 'home:login' "" %}">
          {% csrf_token %}
          <div class ="form-group">
              <input type="text" class="form-control" name="r" value="{{ request.GET.r }}" placeholder="Write a comment!" size="100">
          </div>
          <button type="submit" class="btn btn-success">Comment</button>
        </form>
      </span>
     </div>
    </div>
  </div>

  <!-- show comments -->
  <div class='row'>
    <div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-offset-2 col-xs-1'>
      <!-- no comments to show-->
      {% if petition.8|length == 0 %}
      <button href='#com{{petition.0}}' type="button" class="btn btn-default disabled" data-toggle='collapse'>View other comments
        </span><span class="badge">{{petition.8|length}}</span>
      </button>

      <!-- otherwise-->
      {% else %}
      <button href='#com{{petition.0}}' type="button" class="btn btn-default" data-toggle='collapse'>View other comments
        </span><span class="badge">{{petition.8|length}}</span>
      </button>
      {%endif%}
    </div>
  </div>
  <!-- list of comments-->
  <ul class="list-group col-lg-offset-1 col-lg-11 col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-2 col-xs-10 collapse" id=com{{petition.0}}>
  {% for comment in petition.8 %}
    {% for comment_netid in petition.11 %}
      {% if forloop.counter == forloop.parentloop.counter %}
        <li class="list-group-item" style='word-wrap: break-word; max-height:100px; overflow:auto'>
          <a href='{% url 'home:my_petitions' comment_netid %}' style='color:inherit;'>{{ comment_netid }}</a> - {{ comment }}
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>
  </br>
</div>
{% endfor %}

</body>
</html>

{% endblock %}