{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home:index' "" %}"><span class="glyphicon glyphicon-home" ></span> WTF</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home:about' %}">About</a></li>
        <li><a href="http://princetonusg.com/">USG</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{% url 'home:my_petitions' user "" %}">
            <span class="glyphicon glyphicon-th-list"></span>&nbsp; My Petitions
          </a>
        </li>
        <li>
          <a href="{% url 'home:logout' %}">
            <span class="glyphicon glyphicon-off"></span>&nbsp; Logout
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class='jumbotron text-center'>
<div class='container' id='box'>
<h1 style='color:white'>Petitions {{netid}}@ has written!</h1>
</div>
</div>

<div class="container-fluid songs-container">

{% if not petitions %}
<h1 align='center'>This user has written no petitions. :(</h1>
{%else%}
	<!-- display petitions -->
{% for petition in petitions %}
<div class="container">
  <div class='row'>
    <!-- votes and expiration-->
    <div class='col-lg-1'>
      <a href='{% url 'home:my_petitions' netid petition.0 %}'><span class='glyphicon glyphicon-thumbs-up' style='font-size:300%' aria-hidden='true'></span></a>
      <h5>{{ petition.7 }}/100</h5>

      <h6>Expires in:</h6>
      {% if petition.9 == 'days' %}
        <p>{{ petition.8 }} days</p>
      {% elif petition.9 == 'hours' %}
        <p> {{ petition.8 }} hours</p>
      {% else %}
        <p> {{ petition.8 }} min</p>
      {% endif %}
    </div>

    <!-- petition info -->
    <div class='col-lg-11'>
      <div class="panel panel-default
      ">
        <div class="panel-heading panel-heading-custom">
          <h1 class="panel-title">{{ petition.2 }}</h1>

          <!-- edit, delete buttons -->
          {% if netid == user %}
            <button href=#{{ petition.0 }} type='button' class='btn btn-default pull-right' data-toggle='collapse'>
              <span class="glyphicon glyphicon-remove">
              </span>
            </button>
            <button href='#' type='button' class='btn btn-default pull-right' data-toggle='collapse'>
              <span class="glyphicon glyphicon-edit">
              </span>
            </button>
          {% endif %}

          <p>By <a href='{% url 'home:my_petitions' petition.1 "" %}' style='color:inherit;'>{{ petition.1 }}</a></p>
        </div>
        <div class="panel-body">
            {{ petition.3 }}
        </div>
      </div>

      <!-- delete_petition confirmation -->
      <div class='collapse' id={{ petition.0 }}>
        <p>Please confirm that you want to delete this petition</p>
        <a href='{% url 'home:delete_petition' petition.0%}' class='btn btn-default' role='button'>
          <span class='glyphicon glyphicon-ok-circle' style='font-size: 1.5vw'>
          </span>
        </a>
        <button href=#{{ petition.0 }} type='button' class='btn btn-default' data-toggle='collapse'>
          <span class='glyphicon glyphicon-remove-circle' style='font-size: 1.5vw'>
          </span>
        </button>
        </br>
        </br>
      </div>

    </div>
  </div>

  <!-- comments -->
  <div class='row'>
    <div class='col-lg-offset-1 col-lg-11'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Write a comment!">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">Comment</button>
      </span>
     </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-offset-1 col-lg-1'>
    <button href='#comments' type="button" class="btn btn-default" data-toggle='collapse'>View other comments <span class='caret'></span></button>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-offset-1 col-lg-11 collapse' id='comments'>
    <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    </ul>
    </div>
  </div>
</div>

</br>
{% endfor %}
{%endif%}
</div>

{% endblock %}