{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home:index' %}"><span class="glyphicon glyphicon-home" ></span> WTF</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home:about' %}">About</a></li>
        <li><a href="{% url 'home:instructions' %}">Instructions</a></li>
        <li><a href="http://princetonusg.com/">USG</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{% url 'home:login' "" %}">
            <span class="glyphicon glyphicon-off"></span>&nbsp; Login
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class='jumbotron text-center'>
  <div class='container' id='box'>
    <h1 style='color:white'>Petition by {{ petition.1 }}</h1>
  </div>
</div>

<div class="container-fluid songs-container">

{% if not petition %}
  <h1 align='center'>There is no petition with this petition #</h1>
{%else%}

<!-- notifications -->
{% if messages %}
<ul class="messages">
    {% for msg in messages %}       
    <li>
        <div class="alert alert-{{msg.level_tag}}" role="alert">
  {{msg.message}}
  </div>
    </li>
    {% endfor %}
</ul>
{% endif %}

<!-- display petition -->
<div class="container">
  <div class='row'>
    <!-- votes and expiration-->
    <div class='col-lg-1 col-md-1 col-sm-1 col-xs-2'>
      <a href='{% url 'home:login' "petition/"|add:petitionid %}'><span class='glyphicon glyphicon-thumbs-up' style='font-size:300%;font-size: 4vw' aria-hidden='true'></span></a>
      <h5>{{ petition.6 }}/10</h5>

      {% if petition.7 == "Pending" %}

        <h5>Pending</h5>

      {% elif petition.7 == "Active" %}

        <h5>Expires in:</h5>
        {% if petition.13 == 'days' %}
          {% if petition.12 == 1 %}
            <h5>1 day</h5>
          {% else %}
            <h5>{{ petition.12 }} days</h5>
          {% endif %}
        {% elif petition.13 == 'hours' %}
          {% if petition.12 == 1 %}
            <h5>1 hour</h5>
          {% else %}
            <h5>{{ petition.12 }} hours</h5>
          {% endif %}
        {% else %}
          <h5> {{ petition.12 }} min</h5>
        {% endif %}

      {% elif petition.7 == "Expired" %}

        <h5>Expired</h5>

      {% else %}

        <h5>Completed</h5>

      {% endif %}
      
    </div>

    <!-- petition info -->
    <div class='col-lg-11 col-md-11 col-sm-11 col-xs-10'>
      <div class="panel panel-default
      ">
        <div class="panel-heading panel-heading-custom">
          <h1 class="panel-title" style='word-wrap: break-word;'><a href="{% url 'home:petition' petition.0 %}">{{ petition.2 }}</a></h1>
          By <a href='{% url 'home:my_petitions' petition.1 %}' style='color:inherit;'>{{ petition.1 }}</a> </br>
          </div>
        <div class="panel-body" style='word-wrap: break-word;'>
            {{ petition.3 }}
        </div>
        <div class="panel-body" style='word-wrap: break-word; font-size:12px;'>
            <i>{{ petition.4 }}, {{ petition.10 }} (#{{ petition.0 }})</i>
        </div>
      </div>
    </div>
  </div>

  <!-- write comments -->
  <div class='row'>
    <div class='col-lg-offset-1 col-lg-11 col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-2 col-xs-10'>
      <div class="input-group">
        <form class="form-inline" method="get" action="{% url 'home:login' "" %}">
          {% csrf_token %}
          <div class ="form-group">
              <input type="text" class="form-control" name="r" value="{{ request.GET.r }}" placeholder="Write a comment!" size="100">
          </div>
          <button type="submit" class="btn btn-success disabled">Comment</button>
        </form>
      </span>
     </div>
    </div>
  </div>

  <!-- show comments -->
  <div class='row'>
    <div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-offset-2 col-xs-1'>
      <!-- no comments to show-->
      {% if petition.8|length == 0 %}
      <button href='#com{{petition.0}}' type="button" class="btn btn-default disabled" data-toggle='collapse'>View other comments
        </span><span class="badge">{{petition.8|length}}</span>
      </button>

      <!-- otherwise-->
      {% else %}
      <button href='#com{{petition.0}}' type="button" class="btn btn-default" data-toggle='collapse'>View other comments
        </span><span class="badge">{{petition.8|length}}</span>
      </button>
      {%endif%}
    </div>
  </div>
  <!-- list of comments-->
  <ul class="list-group col-lg-offset-1 col-lg-11 col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-2 col-xs-10 collapse" id=com{{petition.0}}>
  {% for comment in petition.8 %}
    {% for comment_netid in petition.11 %}
      {% if forloop.counter == forloop.parentloop.counter %}
        <li class="list-group-item" style='word-wrap: break-word; max-height:100px; overflow:auto'>
          <a href='{% url 'home:login' "my_petitions/"|add:comment_netid %}' style='color:inherit; font-weight: bold'>{{ comment_netid }}</a> - {{ comment }}
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>
  </br>
</div>
{%endif%}
</body>
</html>

{% endblock %}